@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus-within:outline-none ring-red-500 ring-offset-4 ring-offset-inherit transition duration-300 focus-within:ring-2 focus-within:ring-current hover:ring-2 hover:ring-current focus:ring-2 focus:ring-current disabled:ring-0 group-hover:ring-2 group-hover:ring-current group-focus:ring-2 group-focus:ring-current dark:ring-offset-gray-900;
  }
}

* {
  /* cursor: none; */
}
